.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.center h1 {
    font-size: 40px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-evenly;
    margin: 0 30px;
    background-color: rgb(123, 237, 100);
}

.item {
    border: 2px solid aliceblue;
    padding: 20px;
}

.item h1 {
    font-size: 15px;
}

.item1 {
    background-color: rgb(255, 0, 191);
}

.item2 {
    background-color: rgb(42, 110, 165);
}

.item3 {
    background-color: rgb(229, 255, 80);
}

@media screen and (max-width: 599px) {
    .container {
        flex-direction: column;
        background-color: rgb(61, 109, 59);
    }
    .item {
        width: 100vw;
    }
}